RewriteEngine On

# Przekierowanie wszystkich nieistniejących plików i katalogów do 404.html
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /404.html [L]

# Przekierowania 301
Redirect 301 /kurs-nr-6-2024/ http://www.ceea.org.pl/kursy/medycyna_okoooperacyjna/
Redirect 301 /kursy-ceea.html http://www.ceea.org.pl/kursy/
Redirect 301 /kurs-nr-5/ http://www.ceea.org.pl/kursy/neurologia_znieczulenie_regionalne_i_terapia_blu/
Redirect 301 /kurs-nr-5-2023/ http://www.ceea.org.pl/kursy/neurologia_znieczulenie_regionalne_i_terapia_blu/
Redirect 301 /kurs-nr-1-2024/ http://www.ceea.org.pl/kursy/klatka_piersiowa_i_oddychanie_/
Redirect 301 /contact/ http://www.ceea.org.pl/kontakt/

# Przekierowanie URL zawierających parametr 'from'
RewriteCond %{QUERY_STRING} from= [NC]
RewriteRule ^(.*)$ / [R=301,L]

# BEGIN Security Headers
# XSS protection
Header set X-XSS-Protection "1; mode=block"

# Clickjacking protection
Header always append X-Frame-Options SAMEORIGIN

# Content Security Policy (Comment this line if it's causing issues)
# Header set Content-Security-Policy "default-src 'self'; script-src 'self'; style-src 'self' 'unsafe-inline'; img-src 'self' data:; font-src 'self'"

# Disable MIME-type sniffing
Header set X-Content-Type-Options nosniff
# END Security Headers


# BEGIN Caching for static assets (improve loading times)
<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresByType image/jpg "access plus 1 year"
    ExpiresByType image/jpeg "access plus 1 year"
    ExpiresByType image/gif "access plus 1 year"
    ExpiresByType image/png "access plus 1 year"
    ExpiresByType text/css "access plus 1 month"
    ExpiresByType application/pdf "access plus 1 month"
    ExpiresByType text/javascript "access plus 1 month"
    ExpiresByType application/javascript "access plus 1 month"
    ExpiresByType application/x-shockwave-flash "access plus 1 month"
    ExpiresByType image/x-icon "access plus 1 year"
    ExpiresDefault "access plus 2 days"
</IfModule>

# END Caching for static assets